<div [ngSwitch]="taskStep">
    <div *ngSwitchCase="'addList'">
      <div class="task-main">
        <!--Toolbar-->
        <mat-toolbar color="primary">
          <mat-icon
            routerLink="/" routerLinkActive="active"
            style="margin-right:8px;cursor:pointer"
          >arrow_back
          </mat-icon>
          <span>Task Wizard - Choose task type (1/4)</span>
        </mat-toolbar>
      
        <div class="list-container">
          <div class="list-item">
            <div class="task task-details">
              <p class="task-details_header">Generate a task</p>
            </div>
          </div>
          <div class="list-item">
            <div class="task task-details" (click)="showView('addTask')">
            <!-- routerLink="/task/create" routerLinkActive="active"> -->
                <p class="task-details_header">Count from X to Y</p>
              </div>
          </div>
        </div>
      </div>
      <!-- END OF MAIN -->
    </div>
    <div *ngSwitchCase="'addTask'">
      <app-create-task (executeTask)="onExecuteTask($event)" [taskDetails]="taskDetails"></app-create-task>
    </div>
    <div *ngSwitchCase="'executeTask'">
      <app-execute-task (taskSummary)="onTaskSummary($event)" [taskData]="taskDetails"></app-execute-task>
    </div>
    <div *ngSwitchCase="'summary'">
      <app-task-summary [taskData]="taskDetails"></app-task-summary>
    </div>
  </div>
