body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }
  
  mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
  }
  
  .add-button {
    position: absolute;
    right: 0;
    margin-right: 5%;
    margin-top: 3%;
  }
  
  .add-icon {
    color: grey;
  }
  
  mat-toolbar {
    padding: 20px;
  }
  
  .list-container {
    margin-top: 42px;
  }
  .list-item {
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 20px;
  }
  
  .list-item:first-of-type {
    border-top: 2px solid black;
  }
  
  .list-item:last-of-type {
    border-bottom: 2px solid black;
  }
  
  /** List CSS **/
  .task {
    display: inline-block;
  }
  
  .task-details {
    width: 90%;
    cursor: pointer;
  }
  
  .task-details p {
    margin-bottom: 0;
    padding: 5px;
  }

  
  .task-details_header {
    font-weight: 100;
    font-size: 18px;
    padding-bottom: 0 !important;
  }

  .task-summary {
    display: none;
  }
