<div [ngSwitch]="taskStep">
    <div *ngSwitchCase="'addList'">
      <div class="task-main">
        <!--Toolbar-->
        <mat-toolbar color="primary">
          <mat-icon
            routerLink="/" routerLinkActive="active"
            style="margin-right:8px;cursor:pointer"
          >arrow_back
          </mat-icon>
          <span>Task Wizard - Choose task type (1/4)</span>
        </mat-toolbar>
      

        <div class="list-container">
          <div class="list-item" *ngFor="let task of taskType; let i = index">
            <div class="task task-details" (click)="showView('addTask',task.taskId)">
              <p class="task-details_header">{{task.taskName}}</p>
              <p class="task-details_header">{{task.taskDescription}}</p>
            </div>
          </div>
        </div>

      </div>
      <!-- END OF MAIN -->
    </div>
    <div *ngSwitchCase="'addTask'">
      <app-create-task (executeTask)="onExecuteTask($event)" [taskDetails]="taskDetails"></app-create-task>
    </div>
    <div *ngSwitchCase="'executeTask'">
      <app-execute-task (taskSummary)="onTaskSummary($event)" [taskData]="taskDetails"></app-execute-task>
    </div>
    <div *ngSwitchCase="'summary'">
      <app-task-summary [taskData]="taskDetails"></app-task-summary>
    </div>
  </div>
